services:
  mongo:
    image: mongo:7
    container_name: todo-mongo-dev
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
    volumes:
      - mongo_data_dev:/data/db
      - ./mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js

  api:
    build:
      context: .
      target: dev
    container_name: todo-api-dev
    env_file:
      - .env 
    ports:
      - "8080:8080"
    depends_on:
      - mongo

volumes:
  mongo_data_dev:
